* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: black;
    /*Altura exagerada para ver scroll*/
    min-height: 150vh;
    padding-bottom: 50px;
}

/*Posición fija (fixed)*/
.barra_navegacion {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 15px 30px;
    color: white;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /*posición en capas*/
    box-shadow: 0 4px 6px gray;
}

.barra_navegacion h1 {
    font-size: 1.2rem;
}

.enlace_nav {
    color: rgb(214, 253, 240);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.enlace_nav:hover {
    color: aqua;
}

/*Contenedor Principal*/
.contenedor_principal {
    display: flex;
    flex-wrap: wrap;
    /*Cuando los elementos no caben, bajarán automaticamente*/
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
    /*margen para que el contenido quede visible*/
}

.tarjeta {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 5px 15px gray;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-10px);
    /*Movimiento hacia arriba*/
    box-shadow: 0 15px 25px gray;
}

.tarjeta h2 {
    font-size: 1.3rem;
    color: rgb(45, 45, 147);
    border-bottom: 2px solid rgb(0, 0, 0, 0.167);
    padding-bottom: 10px;
}

.explicacion {
    font-size: 0.9rem;
    color: rgb(75, 74, 74);
    line-height: 1.4;
    /*interlineado: separación de párrafo.*/
}

/*Bloques grises*/
.bloque_normal {
    background-color: rgb(196, 196, 196);
    color: black;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

/* EJEMPLO DE STATIC (El que obedece)*/
.bloque_estatico {
    position: static;
    /*Intentaremos moverlo, CSS ignorará el movimiento*/
    top: 40px;
    left: 40px;
    /*posiciones*/
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid rgb(67, 67, 67);
}

/*EJEMPLO RELATIVE (El fantasma)*/
.molde_fantasma {
    border: 2px dashed rgb(190, 190, 190);
    border-radius: 6px;
    height: 48px;
    position: relative;
}

.bloque_relativo {
    position: relative;
    /*Se mueve a partir del molde fantasma*/
    top: 25px;
    left: 30px;
    background-color: orangered;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgb(63, 31, 19);
}

/*EJEMPLO ABSOLUTE (Ventana y X)*/
.ventana_modal{
    position: relative;
    background-color: white;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 8px;
    padding: 30px 15px 15px 15px;
    text-align: center;
    margin-top: 10px;
}

.boton_cerrar{
    position: absolute;
    /*Se ancla exactamenta a la esquina superior 
    derecha de la ventana modal*/
    top: -12px;
    right: -12px;
    background-color: red;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px grey;
}