* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.textoCentrado {
    text-align: center;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.encabezado {
    padding: 20px;

}

.titulo {
    margin-bottom: 20px;
}

.sinDecoracion {
    text-decoration: none;
    color: #137DB2;
}

.caja {
    display: inline-block;
    /* Elementos en bloques */

    color: white;
    font-weight: bold;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}

.rojo {
    background-color: #EE433A;
}

.azul {
    background-color: #008DD2;

}

.verde {
    background-color: #00C56A;
}

.amarillo {
    background-color: #F9CB4E;
}

.morado {
    background-color: #9E6AC3;
}

.naranja {
    background-color: #FC9800;
}

.blanco {
    background-color: white;
}

.p {
    color: black;
    padding: 20px;
}

.cuerpoCaja {
    padding: 20px;
    text-align: center;
}