/* Selector comodín (selecciona todos los elementos html)*/
* {
    /* outline: 2px dashed crimson; */
    /* Linea externa de 2 px de color carmesí */
    margin: 0;
    /* formatea espacios externos de elementos html */
    padding: 0;
    /* formatea espacios internos de elementos html */
    box-sizing: border-box;
    /* Considera bordes dentro de tamaño de elementos html */
}
body{
    padding: 40px;
}
h1 {
    color: rebeccapurple;
}

.green {
    color: mediumseagreen;
}

#red {
    color: tomato;
}

.quote p {
    color: darkslategray;
    font-style: italic;
}
.quote h4{
    color: rgb(50, 83, 83);
    font-weight: bold; /* Negrita */
}