* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Contabiliza los bordes*/
    /* outline: solid 1px black; Bordes de lineas */
}

.encabezado {
    width: 100%;
    /* Todo el ancho de la página */
    background-color: greenyellow;
    padding: 15px;
}

.titulo_header {
    text-align: center;
    color: black;
}

.container {
    outline: solid 1px gray;
    /* Solo para visualizar el contenedor */
    margin: 0 auto;
    /* Centra el contenedor */
    width: 900px;
    padding: 20px;
}

/* Tamaños ejemplos CSS*/

.aceptar {
    width: 100px;
    height: 50px;
}

.caja1 {
    margin: 0 auto;
    /* Centrar un elemento */
    width: 80%;
    /* Porcentaje para dar tamaño 80/100 */
    height: 200px;
    background-color: lightblue;
}

.parrafo1 {
    font-size: 30px;
    /* Tamaño fijo */
}

.link1 {
    font-size: 300%;
    /* Tamaño proporcional */
}

.cursiva {
    font-style: italic;
    margin-top: 15px;
}

/*
📦 Manejo del contenido con overflow: hidden, scroll, auto
*/

div {
    width: 200px;
    height: 100px;
}

.example1 {
    background-color: aliceblue;
    height: 100px;
    width: 300px;
}

.example2 {
    background-color: blanchedalmond;
    height: 100px;
    width: 300px;
}

.example3 {
    background-color: beige;
    height: 100px;
    width: 300px;
}

.caja {
    width: 200px;
    height: 100px;
    display: inline-block;
    /* Elementos en bloque o columnas */
}

.hidden {
    /* Oculta los elementos que sobresalen del contenedor */
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}

/* Fondo y colores */
.banner {
    height: 500px;
    width: 850px;
    background: red url("/STACK_CSS/06_tamanos/static/images/momazosdiego.png") no-repeat fixed center center;
    background-size: 60%;
}

/* Bordes redondeados */

.boton_redondeado {
    border: 2px dotted green;
}

.caja_redondeada {
    border: 1px solid black;
}