* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Contabiliza los bordes*/
    /* outline: solid 1px black; Bordes de lineas */
}

.encabezado {
    width: 100%;
    /* Todo el ancho de la página */
    background-color: greenyellow;
    padding: 15px;
}

.titulo_header {
    text-align: center;
    color: black;
}

.container {
    outline: solid 1px gray;
    /* Solo para visualizar el contenedor */
    margin: 0 auto;
    /* Centra el contenedor */
    width: 900px;
    padding: 20px;
}

.row{
    padding: 20px;
}

/* Tamaños ejemplos CSS*/

.aceptar {
    width: 100px;
    height: 50px;
}

.caja1 {
    margin: 0 auto;
    /* Centrar un elemento */
    width: 80%;
    /* Porcentaje para dar tamaño 80/100 */
    height: 200px;
    background-color: lightblue;
}

.parrafo1 {
    font-size: 30px;
    /* Tamaño fijo */
}

.link1 {
    font-size: 300%;
    /* Tamaño proporcional */
}

.cursiva {
    font-style: italic;
    margin-top: 15px;
}

/*
📦 Manejo del contenido con overflow: hidden, scroll, auto
*/

div {
    width: 200px;
    height: 100px;
}

.example1 {
    background-color: aliceblue;
    height: 100px;
    width: 300px;
}

.example2 {
    background-color: blanchedalmond;
    height: 100px;
    width: 300px;
}

.example3 {
    background-color: beige;
    height: 100px;
    width: 300px;
}

.caja {
    width: 200px;
    height: 100px;
    display: inline-block;
    /* Elementos en bloque o columnas */
}

.hidden {
    /* Oculta los elementos que sobresalen del contenedor */
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}

/* Fondo y colores */
.banner {
    height: 500px;
    width: 850px;
    background: red url("/STACK_CSS/06_tamanos/static/images/momazosdiego.png") no-repeat fixed center center;
    background-size: 60%; /* Aumenta el tamaño de la imagen dentro del contenedor */
}

/* Bordes y estilos */

.cancelar {
    border: 2px dotted green; /* dotted: linea segmentada */
    padding: 15px;
    cursor: pointer;
}

.articulo {
    border: 2px solid black; /* solid: linea sólida */
    height: 50px;
    width: 100px;
}

/* Bordes redondeados*/

.boton_redondeado {
    border-radius: 5px; /* Redondeada las esquinas */
    padding: 15px 40px;
    cursor: pointer;
}

.caja_redondeada {
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 10px 16px;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    border-radius: 50%; /* 50% de radius: Circulo perfecto */
}

.cajitas{
    width: 200px;
    height: 50px;
    outline: solid 1px black;
}

.box1{
background-color: aqua;
padding: 10px; /* Padding aplicado en todos los lados*/
}

.box2{
background-color: darkgoldenrod;
padding-top: 0px; /* Espacio interno: Arriba */
padding-right: 5px; /* Espacio interno: derecha */
padding-bottom: 0px; /* Espacio interno: abajo */
padding-left: 5px; /* Espacio interno: izquierda */
/* padding: 0px 5px 0px 5px; ---> aplicando en todos los lados */
/* padding: 0px 5px ---> 0px del eje (Y) 5px del eje (X) */
}

.box3{
background-color: chartreuse;
margin: 10px; /* Margen externo: separa los elementos */
}

.box4{
background-color: gold;
margin: 0px 10px; /* eje X modificado con margin */
padding: 5px 0px; /* eje Y modificado con padding */
}

.box5{
    float: left;
    width: 30%;
}