* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: solid 1px black;
    font-family: Arial, sans-serif;
}

.contenedor_principal {
    background-color: #FFFFFF;
}

.header {
    padding: 30px;
    background-color: #218715;
    color: white;
    text-align: center;
    width: 1200px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

.contenedor_cajas {
    padding: 20px;
}

.caja_azul {
    background-color: #2B5CDC;
    height: 450px;
    width: 200px;
    margin-left: 25px;
    padding: 25px;
    display: inline-block;
}

.boton_amarillo {
    background-color: #FEEE31;
    color: #34353A;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.caja_roja {
    background-color: #E52113;
    height: 300px;
    width: 970px;
    margin-left: 25px;
    padding: 25px;
    display: inline-block;
}

.cajas_amarillas {
    background-color: #FEF305;
    color: black;
    padding: 20px;
    width: 150px;
    height: 150px;
    padding: 60px;
margin-left: 10px;
    display: inline-block;
}

.caja_morada {
    background-color: #8E2386;
    padding: 20px;
}

.boton_blanco {
    background-color: #EFEAEE;
    color: #8E2386;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}