* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

.body {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    margin: 20px;
}

.titulo {
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 10px;
}

.imagen {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.caja {
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 10px;
}

img {
    width: 250px;
    height: 250px;
}

.flex-start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}